p{
    margin: 10px 0px;
}

.container{
    min-height: 200px;
    margin-top: 200px;
}

.exclusive{
    background-color: white;
    border-radius: 8px;
    color: #232323;
    width: 250px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.limited{
    font-size: 30px;
    text-align: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 400px;
    border: 1px solid white;
    border-radius: 35px;
}

.cardFull{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 210px;
    border: 1px solid white;
    border-radius: 35px;
}

.small{
    width: 300px;
}

.cardText{
    color: white;
}

.icon{
    width: 65px;
}

@media screen and (max-width: 1000px){
    .card{
        width: 150px;
        border-radius: 8px;
    }
    .text{
        margin: 0px 20px;
    }
}