.page{
    width: 100%;
    height: 100%;
    position: fixed;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.chartRow{
    display: flex;
    justify-content: center; 
    width: 100%;
}

.chart{
    width: 50%;
}